<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico em Pizza</title>
</head>
<body>
    <h1>Gráfico em Pizza</h1>
    <canvas id="half-dunut-chart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function atualizarChart1() {
            fetch('/dados-aleatorios')
                .then(response => response.json())
                .then(data => {
                    chart1.data.datasets[0].data = data.data1;
                    chart1.update();
                })
                .catch(error => console.error('Erro ao buscar dados:', error));
        }

        atualizarChart1();

        function createHalfDunutChart(data) {
            var ctx = document.getElementById('chart1').getContext('2d');
            var chart1 = new Chart(ctx1 , {
                type: 'doughnut',
                data: {
                    labels: data.map((value, index) => `Dado ${index + 1}`),
                    datasets: [{
                        label: 'Armazenamento de água',
                        data: [12, 19, 3, 5, 2, 3, 7],
                        backgroundColor: [
                            'rgba(255,206,86,0.5)',
                            'rgba(75,192,192,0.5)',
                            'rgba(153,102,255,0.5)',
                            'rgba(255,159,64,0.5)',
                            'rgba(255,99,132,0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255,206,86,1)',
                            'rgba(75,192,192,1)',
                            'rgba(153,102,255,1)',
                            'rgba(255,159,64,1)',
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    rotation: -90,
                    circumference: 180,
                    legend: {
                        display: false
                    }
                }
            });
        }

        // Example data
        data = [12, 19, 3, 5, 2, 3, 7];
        createHalfDunutChart(data);
    </script>
</body>
</html>
